    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <h3>種類</h3>
            </li>
            <li>
                <%= link_to 'ウエブ作成', webs_path %>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->