        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <% lessons = get_lessons(@page_content.id) %>
            <% if lessons.present? %>
                <a href="#" class="list-group-item active">Lessons</a>
                <% lessons.each do |lesson| %>
                    <%= link_to lesson.name, lesson, :class => "list-group-item" %>
                <% end %>
            <% end %>
          </div>
        </div><!--/.sidebar-offcanvas-->